/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/cache
json.sqlite
.yarn
.vscode
yarn.lock
app.config.json
.pnp.cjs
.pnp.loader.mjs
package.lock.json
.env
.yarnrc.yml
/database/*
/server/content/*
.archived/*